.env
.env.development
.env.production
.env.testing
.env.local
.env.example

__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

*.egg-info

.pytest_cache

.mypy_cache

.ruff_cache

uv.lock

.venv

.mypy_cache

notebooks/